<div id="<%= id %>" data-controller="autohide" data-autohide-delay-value="6000">
  <div class="rounded border border-amber-800 bg-amber-900/40 px-3 py-2 text-sm text-amber-200">
    <%= message %>
  </div>
</div>
